In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = (r"C:\Users\RANJIT CHAVAN\OneDrive\Desktop\DEVL\Zomato_Dataset.csv")

In [3]:
df = pd.read_csv(data)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [12]:
df.shape

(45584, 20)

In [4]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [5]:
df.tail()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [6]:
df.head(45000)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,0x6544,MUMRES07DEL02,27.0,4.7,19.091458,72.827808,19.221458,72.957808,31-03-2022,23:10,23:25,Cloudy,Low,2,Buffet,electric_scooter,1.0,No,Metropolitian,26
44996,0xb54c,BANGRES05DEL02,25.0,4.2,12.970324,77.645748,13.050324,77.725748,02-04-2022,20:25,20:30,Cloudy,Jam,2,Meal,scooter,1.0,No,Urban,31
44997,0xc3f6,KOCRES18DEL02,27.0,4.9,9.957144,76.296783,10.087144,76.426783,14-02-2022,0.75,18:15,Windy,Medium,1,Snack,scooter,1.0,No,Metropolitian,22
44998,0xd158,KNPRES14DEL01,32.0,3.6,26.463504,80.372929,26.533504,80.442929,12-02-2022,23:45,1,Cloudy,Low,1,Snack,motorcycle,2.0,No,Metropolitian,35
44999,0x1ac8,JAPRES010DEL03,31.0,4.7,26.921411,75.793604,26.981411,75.853604,01-04-2022,22:35,22:50,Fog,Low,1,Drinks,scooter,0.0,No,Urban,15

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [8]:
df.drop("Restaurant_latitude", axis = 1, inplace = True)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [9]:
df.drop("Restaurant_longitude", axis = 1, inplace = True)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [10]:
df.drop("Delivery_location_latitude", axis = 1, inplace = True)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [11]:
df.drop("Delivery_location_longitude", axis = 1, inplace = True)
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [12]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Vehicle_condition,multiple_deliveries,Time_taken (min)
count,43730.000000,43676.000000,45584.000000,44591.000000,45584.000000
mean,29.566911,4.633774,1.023385,0.744635,26.293963
std,5.815064,0.334744,0.839055,0.572510,9.384298
min,15.000000,1.000000,0.000000,0.000000,10.000000
25%,25.000000,4.500000,0.000000,0.000000,19.000000
50%,30.000000,4.700000,1.000000,1.000000,26.000000
75%,35.000000,4.900000,2.000000,1.000000,32.000000
max,50.000000,6.000000,3.000000,3.000000,54.000000

In [13]:
df.dtypes

ID                          object
Delivery_person_ID          object
Delivery_person_Age        float64
Delivery_person_Ratings    float64
Order_Date                  object
Time_Orderd                 object
Time_Order_picked           object
Weather_conditions          object
Road_traffic_density        object
Vehicle_condition            int64
Type_of_order               object
Type_of_vehicle             object
multiple_deliveries        float64
Festival                    object
City                        object
Time_taken (min)             int64
dtype: object

In [14]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [15]:
df.drop("ID", axis = 1, inplace = True)
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,DEHRES17DEL01,36.0,4.2,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,KOCRES16DEL01,21.0,4.7,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,PUNERES13DEL03,23.0,4.7,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,LUDHRES15DEL02,34.0,4.3,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,KNPRES14DEL02,24.0,4.7,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,AGRRES16DEL01,21.0,4.6,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,CHENRES08DEL03,30.0,4.9,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,COIMBRES11DEL01,20.0,4.7,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,RANCHIRES09DEL02,23.0,4.9,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [16]:
df.columns

Index(['Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings',
       'Order_Date', 'Time_Orderd', 'Time_Order_picked', 'Weather_conditions',
       'Road_traffic_density', 'Vehicle_condition', 'Type_of_order',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'City',
       'Time_taken (min)'],
      dtype='object')

In [17]:
df[["Day","Month","Year"]] = df.Order_Date.str.split("-", expand = True)

In [18]:
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,02,2022
1,KOCRES16DEL01,21.0,4.7,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,02,2022
2,PUNERES13DEL03,23.0,4.7,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,04,03,2022
3,LUDHRES15DEL02,34.0,4.3,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,02,2022
4,KNPRES14DEL02,24.0,4.7,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,02,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,03,2022
45580,AGRRES16DEL01,21.0,4.6,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,02,2022
45581,CHENRES08DEL03,30.0,4.9,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,03,2022
45582,COIMBRES11DEL01,20.0,4.7,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,07,03,2022
45583,RANCHIRES09DEL02,23.0,4.9,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,02,03,2022

In [19]:
df.drop("Order_Date", axis = 1, inplace = True)
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,02,2022
1,KOCRES16DEL01,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,02,2022
2,PUNERES13DEL03,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,04,03,2022
3,LUDHRES15DEL02,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,02,2022
4,KNPRES14DEL02,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,02,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,03,2022
45580,AGRRES16DEL01,21.0,4.6,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,02,2022
45581,CHENRES08DEL03,30.0,4.9,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,03,2022
45582,COIMBRES11DEL01,20.0,4.7,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,07,03,2022
45583,RANCHIRES09DEL02,23.0,4.9,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,02,03,2022

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_ID       45584 non-null  object
 1   Delivery_person_Age      43730 non-null  float64
 2   Delivery_person_Ratings  43676 non-null  float64
 3   Time_Orderd              43853 non-null  object
 4   Time_Order_picked        45584 non-null  object
 5   Weather_conditions       44968 non-null  object
 6   Road_traffic_density     44983 non-null  object
 7   Vehicle_condition        45584 non-null  int64
 8   Type_of_order            45584 non-null  object
 9   Type_of_vehicle          45584 non-null  object
 10  multiple_deliveries      44591 non-null  float64
 11  Festival                 45356 non-null  object
 12  City                     44384 non-null  object
 13  Time_taken (min)         45584 non-null  int64
 14  Day                      45584 non-null  object
 15  Month                    45584 non-null  object
 16  Year                     45584 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 5.9+ MB

In [21]:
df["Day"] = pd.to_numeric(df["Day"], errors = "coerce")
df["Month"] = pd.to_numeric(df["Month"], errors = "coerce")
df["Year"] = pd.to_numeric(df["Year"], errors = "coerce")
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,2,2022
1,KOCRES16DEL01,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,2,2022
2,PUNERES13DEL03,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,4,3,2022
3,LUDHRES15DEL02,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,2,2022
4,KNPRES14DEL02,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,3,2022
45580,AGRRES16DEL01,21.0,4.6,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,2,2022
45581,CHENRES08DEL03,30.0,4.9,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,3,2022
45582,COIMBRES11DEL01,20.0,4.7,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,7,3,2022
45583,RANCHIRES09DEL02,23.0,4.9,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,2,3,2022

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_ID       45584 non-null  object
 1   Delivery_person_Age      43730 non-null  float64
 2   Delivery_person_Ratings  43676 non-null  float64
 3   Time_Orderd              43853 non-null  object
 4   Time_Order_picked        45584 non-null  object
 5   Weather_conditions       44968 non-null  object
 6   Road_traffic_density     44983 non-null  object
 7   Vehicle_condition        45584 non-null  int64
 8   Type_of_order            45584 non-null  object
 9   Type_of_vehicle          45584 non-null  object
 10  multiple_deliveries      44591 non-null  float64
 11  Festival                 45356 non-null  object
 12  City                     44384 non-null  object
 13  Time_taken (min)         45584 non-null  int64
 14  Day                      45584 non-null  int64
 15  Month                    45584 non-null  int64
 16  Year                     45584 non-null  int64
dtypes: float64(3), int64(5), object(9)
memory usage: 5.9+ MB

In [23]:
df["Delivery_person_Age"] = pd.to_numeric(df["Delivery_person_Age"], errors = "coerce")
df["multiple_deliveries"] = pd.to_numeric(df["multiple_deliveries"], errors = "coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_ID       45584 non-null  object
 1   Delivery_person_Age      43730 non-null  float64
 2   Delivery_person_Ratings  43676 non-null  float64
 3   Time_Orderd              43853 non-null  object
 4   Time_Order_picked        45584 non-null  object
 5   Weather_conditions       44968 non-null  object
 6   Road_traffic_density     44983 non-null  object
 7   Vehicle_condition        45584 non-null  int64
 8   Type_of_order            45584 non-null  object
 9   Type_of_vehicle          45584 non-null  object
 10  multiple_deliveries      44591 non-null  float64
 11  Festival                 45356 non-null  object
 12  City                     44384 non-null  object
 13  Time_taken (min)         45584 non-null  int64
 14  Day                      45584 non-null  int64
 15  Month                    45584 non-null  int64
 16  Year                     45584 non-null  int64
dtypes: float64(3), int64(5), object(9)
memory usage: 5.9+ MB

In [24]:
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,2,2022
1,KOCRES16DEL01,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,2,2022
2,PUNERES13DEL03,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,4,3,2022
3,LUDHRES15DEL02,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,2,2022
4,KNPRES14DEL02,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,3,2022
45580,AGRRES16DEL01,21.0,4.6,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,2,2022
45581,CHENRES08DEL03,30.0,4.9,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,3,2022
45582,COIMBRES11DEL01,20.0,4.7,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,7,3,2022
45583,RANCHIRES09DEL02,23.0,4.9,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,2,3,2022

In [25]:
df.isna().sum()

Delivery_person_ID            0
Delivery_person_Age        1854
Delivery_person_Ratings    1908
Time_Orderd                1731
Time_Order_picked             0
Weather_conditions          616
Road_traffic_density        601
Vehicle_condition             0
Type_of_order                 0
Type_of_vehicle               0
multiple_deliveries         993
Festival                    228
City                       1200
Time_taken (min)              0
Day                           0
Month                         0
Year                          0
dtype: int64

In [27]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Vehicle_condition,multiple_deliveries,Time_taken (min),Day,Month,Year
count,43730.000000,43676.000000,45584.000000,44591.000000,45584.000000,45584.000000,45584.000000,45584.0
mean,29.566911,4.633774,1.023385,0.744635,26.293963,13.810920,2.980673,2022.0
std,5.815064,0.334744,0.839055,0.572510,9.384298,8.708532,0.545939,0.0
min,15.000000,1.000000,0.000000,0.000000,10.000000,1.000000,2.000000,2022.0
25%,25.000000,4.500000,0.000000,0.000000,19.000000,6.000000,3.000000,2022.0
50%,30.000000,4.700000,1.000000,1.000000,26.000000,13.000000,3.000000,2022.0
75%,35.000000,4.900000,2.000000,1.000000,32.000000,20.000000,3.000000,2022.0
max,50.000000,6.000000,3.000000,3.000000,54.000000,31.000000,4.000000,2022.0

In [36]:
df.dropna(subset=["Time_Orderd"], inplace = True)
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,2,2022
1,KOCRES16DEL01,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,2,2022
2,PUNERES13DEL03,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,4,3,2022
3,LUDHRES15DEL02,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,2,2022
4,KNPRES14DEL02,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,3,2022
45580,AGRRES16DEL01,21.0,4.6,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,2,2022
45581,CHENRES08DEL03,30.0,4.9,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,3,2022
45582,COIMBRES11DEL01,20.0,4.7,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,7,3,2022
45583,RANCHIRES09DEL02,23.0,4.9,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,2,3,2022

In [38]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Vehicle_condition,multiple_deliveries,Time_taken (min),Day,Month,Year
count,43639.000000,43585.000000,43853.000000,42910.000000,43853.000000,43853.000000,43853.000000,43853.0
mean,29.554779,4.635280,1.000912,0.744092,26.293161,13.812920,2.980731,2022.0
std,5.761378,0.313851,0.816543,0.572606,9.374274,8.712286,0.546120,0.0
min,20.000000,2.500000,0.000000,0.000000,10.000000,1.000000,2.000000,2022.0
25%,25.000000,4.500000,0.000000,0.000000,19.000000,6.000000,3.000000,2022.0
50%,30.000000,4.700000,1.000000,1.000000,26.000000,13.000000,3.000000,2022.0
75%,35.000000,4.900000,2.000000,1.000000,32.000000,20.000000,3.000000,2022.0
max,39.000000,5.000000,2.000000,3.000000,54.000000,31.000000,4.000000,2022.0

In [39]:
df.isna().sum()

Delivery_person_ID            0
Delivery_person_Age         214
Delivery_person_Ratings     268
Time_Orderd                   0
Time_Order_picked             0
Weather_conditions            0
Road_traffic_density          0
Vehicle_condition             0
Type_of_order                 0
Type_of_vehicle               0
multiple_deliveries         943
Festival                    219
City                       1144
Time_taken (min)              0
Day                           0
Month                         0
Year                          0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43853 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_ID       43853 non-null  object
 1   Delivery_person_Age      43639 non-null  float64
 2   Delivery_person_Ratings  43585 non-null  float64
 3   Time_Orderd              43853 non-null  object
 4   Time_Order_picked        43853 non-null  object
 5   Weather_conditions       43853 non-null  object
 6   Road_traffic_density     43853 non-null  object
 7   Vehicle_condition        43853 non-null  int64
 8   Type_of_order            43853 non-null  object
 9   Type_of_vehicle          43853 non-null  object
 10  multiple_deliveries      42910 non-null  float64
 11  Festival                 43634 non-null  object
 12  City                     42709 non-null  object
 13  Time_taken (min)         43853 non-null  int64
 14  Day                      43853 non-null  int64
 15  Month                    43853 non-null  int64
 16  Year                     43853 non-null  int64
dtypes: float64(3), int64(5), object(9)
memory usage: 6.0+ MB

In [41]:
df.dropna(subset=["City"], inplace = True)
df

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Day,Month,Year
0,DEHRES17DEL01,36.0,4.2,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,12,2,2022
1,KOCRES16DEL01,21.0,4.7,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,13,2,2022
2,PUNERES13DEL03,23.0,4.7,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,4,3,2022
3,LUDHRES15DEL02,34.0,4.3,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,13,2,2022
4,KNPRES14DEL02,24.0,4.7,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,14,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,4.8,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,24,3,2022
45580,AGRRES16DEL01,21.0,4.6,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,16,2,2022
45581,CHENRES08DEL03,30.0,4.9,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,11,3,2022
45582,COIMBRES11DEL01,20.0,4.7,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,7,3,2022
45583,RANCHIRES09DEL02,23.0,4.9,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,2,3,2022

In [42]:
df.isna().sum()

Delivery_person_ID           0
Delivery_person_Age        206
Delivery_person_Ratings    259
Time_Orderd                  0
Time_Order_picked            0
Weather_conditions           0
Road_traffic_density         0
Vehicle_condition            0
Type_of_order                0
Type_of_vehicle              0
multiple_deliveries        910
Festival                   201
City                         0
Time_taken (min)             0
Day                          0
Month                        0
Year                         0
dtype: int64

In [44]:
mean_age = df['Delivery_person_Age'].mean()

df['Delivery_person_Age'] = df['Delivery_person_Age'].fillna(mean_age)

In [45]:
df.isna().sum()

Delivery_person_ID           0
Delivery_person_Age          0
Delivery_person_Ratings    259
Time_Orderd                  0
Time_Order_picked            0
Weather_conditions           0
Road_traffic_density         0
Vehicle_condition            0
Type_of_order                0
Type_of_vehicle              0
multiple_deliveries        910
Festival                   201
City                         0
Time_taken (min)             0
Day                          0
Month                        0
Year                         0
dtype: int64

In [48]:
mode_ratings = df['Delivery_person_Ratings'].mode()[0]

df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].fillna(mode_ratings)

In [49]:
df.isna().sum()

Delivery_person_ID           0
Delivery_person_Age          0
Delivery_person_Ratings      0
Time_Orderd                  0
Time_Order_picked            0
Weather_conditions           0
Road_traffic_density         0
Vehicle_condition            0
Type_of_order                0
Type_of_vehicle              0
multiple_deliveries        910
Festival                   201
City                         0
Time_taken (min)             0
Day                          0
Month                        0
Year                         0
dtype: int64

In [50]:
df['multiple_deliveries'] = df['multiple_deliveries'].fillna(1)
df['Festival'] = df['Festival'].fillna("No")

In [51]:
df.isna().sum()

Delivery_person_ID         0
Delivery_person_Age        0
Delivery_person_Ratings    0
Time_Orderd                0
Time_Order_picked          0
Weather_conditions         0
Road_traffic_density       0
Vehicle_condition          0
Type_of_order              0
Type_of_vehicle            0
multiple_deliveries        0
Festival                   0
City                       0
Time_taken (min)           0
Day                        0
Month                      0
Year                       0
dtype: int64

In [52]:
df = df [["Delivery_person_ID","Delivery_person_Age","Day","Month","Year","Type_of_order","Time_Orderd","Time_Order_picked","multiple_deliveries","Time_taken (min)","City","Weather_conditions","Road_traffic_density","Type_of_vehicle","Vehicle_condition","Festival","Delivery_person_Ratings"]]
df

,Delivery_person_ID,Delivery_person_Age,Day,Month,Year,Type_of_order,Time_Orderd,Time_Order_picked,multiple_deliveries,Time_taken (min),City,Weather_conditions,Road_traffic_density,Type_of_vehicle,Vehicle_condition,Festival,Delivery_person_Ratings
0,DEHRES17DEL01,36.0,12,2,2022,Snack,21:55,22:10,3.0,46,Metropolitian,Fog,Jam,motorcycle,2,No,4.2
1,KOCRES16DEL01,21.0,13,2,2022,Meal,14:55,15:05,1.0,23,Metropolitian,Stormy,High,motorcycle,1,No,4.7
2,PUNERES13DEL03,23.0,4,3,2022,Drinks,17:30,17:40,1.0,21,Metropolitian,Sandstorms,Medium,scooter,1,No,4.7
3,LUDHRES15DEL02,34.0,13,2,2022,Buffet,09:20,09:30,0.0,20,Metropolitian,Sandstorms,Low,motorcycle,0,No,4.3
4,KNPRES14DEL02,24.0,14,2,2022,Snack,19:50,20:05,1.0,41,Metropolitian,Fog,Jam,scooter,1,No,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,JAPRES04DEL01,30.0,24,3,2022,Meal,11:35,11:45,0.0,32,Metropolitian,Windy,High,motorcycle,1,No,4.8
45580,AGRRES16DEL01,21.0,16,2,2022,Buffet,19:55,20:10,1.0,36,Metropolitian,Windy,Jam,motorcycle,0,No,4.6
45581,CHENRES08DEL03,30.0,11,3,2022,Drinks,23:50,24:05:00,0.0,16,Metropolitian,Cloudy,Low,scooter,1,No,4.9
45582,COIMBRES11DEL01,20.0,7,3,2022,Snack,13:35,13:40,1.0,26,Metropolitian,Cloudy,High,motorcycle,0,No,4.7
45583,RANCHIRES09DEL02,23.0,2,3,2022,Snack,17:10,17:15,1.0,36,Metropolitian,Fog,Medium,scooter,2,No,4.9

In [53]:
df.columns

Index(['Delivery_person_ID', 'Delivery_person_Age', 'Day', 'Month', 'Year',
       'Type_of_order', 'Time_Orderd', 'Time_Order_picked',
       'multiple_deliveries', 'Time_taken (min)', 'City', 'Weather_conditions',
       'Road_traffic_density', 'Type_of_vehicle', 'Vehicle_condition',
       'Festival', 'Delivery_person_Ratings'],
      dtype='object')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42709 entries, 0 to 45583
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_ID       42709 non-null  object
 1   Delivery_person_Age      42709 non-null  float64
 2   Day                      42709 non-null  int64
 3   Month                    42709 non-null  int64
 4   Year                     42709 non-null  int64
 5   Type_of_order            42709 non-null  object
 6   Time_Orderd              42709 non-null  object
 7   Time_Order_picked        42709 non-null  object
 8   multiple_deliveries      42709 non-null  float64
 9   Time_taken (min)         42709 non-null  int64
 10  City                     42709 non-null  object
 11  Weather_conditions       42709 non-null  object
 12  Road_traffic_density     42709 non-null  object
 13  Type_of_vehicle          42709 non-null  object
 14  Vehicle_condition        42709 non-null  int64
 15  Festival                 42709 non-null  object
 16  Delivery_person_Ratings  42709 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 5.9+ MB

In [56]:
df.dtypes

Delivery_person_ID          object
Delivery_person_Age        float64
Day                          int64
Month                        int64
Year                         int64
Type_of_order               object
Time_Orderd                 object
Time_Order_picked           object
multiple_deliveries        float64
Time_taken (min)             int64
City                        object
Weather_conditions          object
Road_traffic_density        object
Type_of_vehicle             object
Vehicle_condition            int64
Festival                    object
Delivery_person_Ratings    float64
dtype: object

In [58]:
df.describe()

,Delivery_person_Age,Day,Month,Year,multiple_deliveries,Time_taken (min),Vehicle_condition,Delivery_person_Ratings
count,42709.000000,42709.000000,42709.000000,42709.0,42709.000000,42709.000000,42709.000000,42709.000000
mean,29.576218,13.806528,2.980285,2022.0,0.751926,26.406050,0.998829,4.635461
std,5.749588,8.711267,0.546374,0.0,0.568083,9.373703,0.817012,0.314110
min,20.000000,1.000000,2.000000,2022.0,0.000000,10.000000,0.000000,2.500000
25%,25.000000,6.000000,3.000000,2022.0,0.000000,19.000000,0.000000,4.500000
50%,30.000000,13.000000,3.000000,2022.0,1.000000,26.000000,1.000000,4.700000
75%,35.000000,20.000000,3.000000,2022.0,1.000000,33.000000,2.000000,4.900000
max,39.000000,31.000000,4.000000,2022.0,3.000000,54.000000,2.000000,5.000000